.body {
  padding: 3%;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;

  

  li {
    aspect-ratio: 506/520;
    background-color: #F8F7F3;
    display: flex;
    // padding: 0 3% 6% 3%;
    padding: 0;

    img {
      // width: 100%;
      align-self: flex-end;
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: -webkit-fill-available;
      // align-self: flex-end;
      align-self: center;
      // background-color:antiquewhite;

      /* 
      because height is set to 100% looks on the center but some scenarios we wanted align bottom, most of them
       */
      // object-position: bottom;
      object-position: center;
    }
  }
}


.grid-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.hide{
  display: none;
}

.filters{
  margin: 3%;
}

.grid li img.v {
  width: 100%;
  height: 90%;
  object-fit: contain;
  max-height: -webkit-fill-available;
  align-self: flex-end;
  object-position: center;
  padding-bottom: 4%;
}


.grid li img.s {
  width: 88%;
  height: 82%;
  object-fit: contain;
  max-height: -webkit-fill-available;
  object-position: bottom;
  align-self: flex-end;
  margin: 0 auto;
  padding: 0 6% 6% 6%;
}

.grid li img.h {
  width: 93%;
  height: 100%;
  object-fit: contain;
  max-height: -webkit-fill-available;
  object-position: 0% 68%;
  align-self: center;
  margin: 0 auto;
  padding: 0
}